.upperNav {
  color: white;
  position: sticky;
  top: 0px;
  padding: 10px 0;
  z-index: 10000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27272b00;
}

.upperNav input::placeholder {
  color: rgba(255, 255, 255, 0.68);
}
.upperNav input {
  font-weight: lighter;
  background-color: #2d2d31;
  padding: 10px;
  padding-left: 60px;
  font-size: 25px;
  border-radius: 10px;
  width: 400px;
  border: none;
  outline: none;
  color: white;
}
.upperNav div:first-child {
  position: relative;
  display: flex;
  align-items: center;
}
.upperNav div:first-child .search-icon {
  position: absolute;
  font-size: 40px;
  left: 10px;
}

.notif-and-profilePic {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
.notif-and-profilePic .notif-icon {
  width: 50px;
  height: 50px;
  background: #2d2d31;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  z-index: 2;
  position: relative;
}

.notif_count {
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 18px;
  color: white;
  text-shadow: 0 0 2px white;
  font-weight: 900;
  background-color: #161618;
  width: 20px;
  height: 20px;
  padding: 12px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.notif-and-profilePic .profile-picture {
  position: relative;
}
.notif-and-profilePic .profile-picture .profile-picture-white {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.notif-and-profilePic .profile-picture img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.notif-and-profilePic .notif-icon:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #1ce14e;
}

/*-----------------------------------*/
.all_users {
  overflow: hidden;

  background-color: #161618;
  position: absolute;
  top: 60px;
  border-radius: 10px;

  padding: 0px;

  width: 400px;
  height: 0px;

  transition: all 0.4s;
}

.show_all_users {
  height: 350px;
  padding: 15px;
  overflow-y: scroll;
}
.show_all_users::-webkit-scrollbar-track {
  background-color: #e0e0e000 !important;
  margin: 10px;
}

.show_all_users::-webkit-scrollbar {
  width: 3px;
}

.show_all_users::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  border-radius: 6px;
}

.users_names_links {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  width: fit-content;
}
.users_avatars_links {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*-----------------------------------*/

@media (max-width: 425px) {
  .upperNav input {
    width: 200px;
    padding: 5px;
    padding-left: 40px;
    font-size: 16px;
  }
  .notif-and-profilePic {
    gap: 10px;
  }
  .upperNav div:first-child .search-icon {
    font-size: 25px;
  }
  .notif-and-profilePic .notif-icon {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
  .notif-and-profilePic .profile-picture img {
    width: 40px;
    height: 40px;
  }

  .show_all_users {
    width: 300px;
  }
}
@media (max-width: 375px) {
  .upperNav input {
    width: 160px;
    padding: 5px;
    padding-left: 40px;
    font-size: 16px;
  }
  .notif-and-profilePic {
    gap: 10px;
  }
  .upperNav div:first-child .search-icon {
    font-size: 25px;
  }
  .notif-and-profilePic .notif-icon {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
  .notif-and-profilePic .profile-picture img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 320px) {
  .show_all_users {
    width: 230px;
  }
}
